<a href="https://colab.research.google.com/github/sundarp17/sundar_info5731_fall2020/blob/master/Assignment_three.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment Three**

In this assignment, you are required to conduct information extraction, semantic analysis based on **the dataset you collected from assignment two**. You may use scipy and numpy package in this assignment.

# **Question 1: Understand N-gram**

(45 points). Write a python program to conduct N-gram analysis based on the dataset in your assignment two:

(1) Count the frequency of all the N-grams (N=3).

(2) Calculate the probabilities for all the bigrams in the dataset by using the fomular count(w2 w1) / count(w2). For example, count(really like) / count(really) = 1 / 3 = 0.33.

(3) Extract all the **noun phrases** and calculate the relative probabilities of each review in terms of other reviews (abstracts, or tweets) by using the fomular frequency (noun phrase) / max frequency (noun phrase) on the whole dataset. Print out the result in a table with column name the all the noun phrases and row name as all the 100 reviews (abstracts, or tweets).

In [206]:
# Write your code here

import pandas as pd
df=pd.read_csv('/content/joker_reviews.csv')
df.head()

           User Name                                             Review
0         MihaVrhunc  Every once in a while a movie comes, that trul...
1  lesterarnoldpinto  This is a movie that only those who have felt ...
2         Aman_Goyal  Truly a masterpiece, The Best Hollywood film o...
3        logical_guy  Joaquin Phoenix gives a tour de force performa...
4        kdagoulis26  Most of the time movies are anticipated like t...

In [208]:
#cleaning the data
import re
import unicodedata
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
sw=stopwords.words('english')
nltk.download('punkt')
nltk.download('wordnet')
from textblob import Word
from textblob import TextBlob
from nltk.stem import PorterStemmer
st=PorterStemmer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [209]:
df['lower_case']=df['Review'].apply(lambda x:" ".join(x.lower() for x in x.split()))
df['punctuation']=df['lower_case'].apply(lambda  x: " ".join(x for x in x.split() if x not in string.punctuation))
df['special_characters']=df['punctuation'].apply(lambda x:" ".join(x.replace('[#,$,%,@,&]', '') for x in x.split()))
df['stop_words']=df['special_characters'].apply(lambda x:" ".join(x for x in x.split() if x not in words))
df['numbers']=df['stop_words'].apply(lambda x:" ".join(x.replace('\d+', '') for x in x.split()))
df['token']=df['numbers'].apply(lambda x: TextBlob(x).words)
df['stemming']=df['token'].apply(lambda x: " ".join([st.stem(word) for word in x]))
df['lemmatization']=df['stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

df.head()

           User Name  ...                                      lemmatization
0         MihaVrhunc  ...  everi onc in a while a movi come that truli ma...
1  lesterarnoldpinto  ...  thi is a movi that onli those who have felt al...
2         Aman_Goyal  ...  truli a masterpiec the best hollywood film of ...
3        logical_guy  ...  joaquin phoenix give a tour de forc perform fe...
4        kdagoulis26  ...  most of the time movi are anticip like thi the...

[5 rows x 10 columns]

In [210]:
#trigrams
from nltk.util import ngrams
trigrams={}
for i in df['lemmatization']:
  words = TextBlob(i).ngrams(3)
  length = len(words)
  if length>0:
    for j in words:
      k = tuple(j)
      if k in trigrams:
        trigrams[k]+=1
      else:
        trigrams[k] = 1

trigrams_10 =  {k: trigrams[k] for k in list(trigrams)[:10]}
trigrams_10

{('a', 'movi', 'come'): 1,
 ('a', 'while', 'a'): 1,
 ('come', 'that', 'truli'): 1,
 ('everi', 'onc', 'in'): 1,
 ('in', 'a', 'while'): 1,
 ('movi', 'come', 'that'): 1,
 ('onc', 'in', 'a'): 1,
 ('that', 'truli', 'make'): 1,
 ('truli', 'make', 'an'): 1,
 ('while', 'a', 'movi'): 1}

In [211]:
#bigram
bigrams={}
for i in df['lemmatization']:
  words = TextBlob(i).ngrams(2)
  length = len(words)
  if length>0:
    for j in words:
      k = tuple(j)
      if k in bigrams:
        bigrams[k]+=1
      else:
        bigrams[k] = 1

bigrams_10 =  {k: bigrams[k] for k in list(bigrams)[:10]}
bigrams_10

{('a', 'movi'): 23,
 ('a', 'while'): 1,
 ('come', 'that'): 1,
 ('everi', 'onc'): 1,
 ('in', 'a'): 20,
 ('movi', 'come'): 1,
 ('onc', 'in'): 1,
 ('that', 'truli'): 1,
 ('truli', 'make'): 1,
 ('while', 'a'): 1}

In [212]:
#unigram
unigrams={}
for i in df['lemmatization']:
  words = TextBlob(i).ngrams(1)
  length = len(words)
  if length>0:
    for j in words:
      k = tuple(j)
      if k in unigrams:
        unigrams[k]+=1
      else:
        unigrams[k] = 1

unigrams_10 =  {k: unigrams[k] for k in list(unigrams)[:10]}
unigrams_10

{('a',): 593,
 ('come',): 14,
 ('everi',): 11,
 ('in',): 200,
 ('make',): 36,
 ('movi',): 280,
 ('onc',): 4,
 ('that',): 214,
 ('truli',): 10,
 ('while',): 16}

In [213]:
#probability
pb={}
for key,val in bigrams.items():
  pb[key]=val/unigrams[tuple((key[0],))]

pb_10 = {k: pb[k] for k in list(pb)[:10]}
pb_10

{('a', 'movi'): 0.0387858347386172,
 ('a', 'while'): 0.0016863406408094434,
 ('come', 'that'): 0.07142857142857142,
 ('everi', 'onc'): 0.09090909090909091,
 ('in', 'a'): 0.1,
 ('movi', 'come'): 0.0035714285714285713,
 ('onc', 'in'): 0.25,
 ('that', 'truli'): 0.004672897196261682,
 ('truli', 'make'): 0.1,
 ('while', 'a'): 0.0625}

In [214]:
#3
#Extract all the noun phrases and calculate the relative probabilities of each review in terms of other reviews (abstracts, or tweets) by 
#using the fomular frequency (noun phrase) / max frequency (noun phrase) on the whole dataset. 
#Print out the result in a table with column name the all the noun phrases and row name as all the 100 reviews (abstracts, or tweets)

#noun phrases
nltk.download('brown')
np={}
for i in df['lemmatization']:
  words = TextBlob(i).noun_phrases
  for j in words:
    if j in np:
      np[j]+=1
    else:
      np[j] = 1
np_10 ={k: np[k] for k in list(np)[:10]}

#max frequency

mf = max({ i for i in np.values()})
np_10
print('maximum frequency',mf)

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
maximum frequency 57

In [ ]:
#relative probability

rp={}
for key, val in np.items():
  rp[key]=val/mf

In [215]:
df_nouns = pd.DataFrame(list(rp.items()),columns = ['nouns','rp']) 
df_nouns.T

            0     ...          1600
nouns  everi onc  ...  lawrenc sher
rp     0.0175439  ...     0.0175439

[2 rows x 1601 columns]

# **Question 2: Undersand TF-IDF and Document representation**

(40 points). Starting from the documents (all the reviews, or abstracts, or tweets) collected for assignment two, write a python program: 

(1) To build the **documents-terms weights (tf*idf) matrix bold text**.

(2) To rank the documents with respect to query (design a query by yourself, for example, "An Outstanding movie with a haunting performance and best character development") by using **cosine similarity**.

In [216]:
# Write your code here
!pip install texthero
import texthero as hero
df['tfidf'] = hero.tfidf(df['lemmatization'])
df[['lemmatization','tfidf']]

Requirement already satisfied: texthero in /usr/local/lib/python3.6/dist-packages (1.0.9)
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.6/dist-packages (from texthero) (4.41.1)
Requirement already satisfied: nltk>=3.3 in /usr/local/lib/python3.6/dist-packages (from texthero) (3.5)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from texthero) (3.2.2)
Requirement already satisfied: gensim>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from texthero) (3.6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.6/dist-packages (from texthero) (1.18.5)
Requirement already satisfied: pandas>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from texthero) (1.1.3)
Requirement already satisfied: wordcloud>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from texthero) (1.5.0)
Requirement already satisfied: unidecode>=1.1.1 in /usr/local/lib/python3.6/dist-packages (from texthero) (1.1.1)
Requirement already satisfied: plotly>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from texthero) (4.4.1)
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.6/dist-packages (from texthero) (2.2.4)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.6/dist-packages (from texthero) (0.22.2.post1)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from nltk>=3.3->texthero) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from nltk>=3.3->texthero) (0.17.0)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from nltk>=3.3->texthero) (2019.12.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->texthero) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->texthero) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->texthero) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->texthero) (0.10.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim>=3.6.0->texthero) (3.0.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim>=3.6.0->texthero) (1.4.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim>=3.6.0->texthero) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.2->texthero) (2018.9)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from wordcloud>=1.5.0->texthero) (7.0.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.2.0->texthero) (1.3.3)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (1.1.3)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (7.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (3.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (1.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (1.0.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (0.8.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (50.3.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (2.0.3)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (1.0.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (0.4.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->texthero) (2.23.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->texthero) (2.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->texthero) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->texthero) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->texthero) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->texthero) (3.0.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->texthero) (3.3.1)

                                        lemmatization                                              tfidf
0   everi onc in a while a movi come that truli ma...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1   thi is a movi that onli those who have felt al...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2   truli a masterpiec the best hollywood film of ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3   joaquin phoenix give a tour de forc perform fe...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4   most of the time movi are anticip like thi the...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
..                                                ...                                                ...
95  disturb just got out of the movi my humor wa m...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
96  wow i honestli got ta tell you it 's one of th...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
97  i am not a batman fan nor am i particularli fo...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
98  i wa underwhelm to say it friendli but not sur...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
99  act cinematographi music screenplay costum got...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[100 rows x 2 columns]

In [230]:
from sklearn.feature_extraction.text import TfidfVectorizer 

def clean_text(text):
  text="".join([word.lower() for word in text if word not in string.punctuation])
  tokens = re.split('\W+',text)
  text = [st.stem(word) for word in tokens if word not in sw]
  return text

df['non numbers']= df['lemmatization'].apply(lambda x:" ".join(x for x in x.split() if not x.isdigit()))
df['number_string']=df['non numbers'].apply(lambda x:" ".join(x.replace('\d+', '') for x in x.split()))
#print(df['number string'].head(1))
tfidf_vect = TfidfVectorizer()

X_tfidf = tfidf_vect.fit_transform(df['number_string'])

X_tfidf_df = pd.DataFrame(X_tfidf.toarray())
X_tfidf_df.columns =tfidf_vect.get_feature_names()
X_tfidf_df.head()

0    everi onc in a while a movi come that truli ma...
Name: number string, dtype: object

    10  10grade  12i  2nd  76th  aaah  ...  younger  your  yourself   yr  zazi  zero
0  0.0      0.0  0.0  0.0   0.0   0.0  ...      0.0   0.0       0.0  0.0   0.0   0.0
1  0.0      0.0  0.0  0.0   0.0   0.0  ...      0.0   0.0       0.0  0.0   0.0   0.0
2  0.0      0.0  0.0  0.0   0.0   0.0  ...      0.0   0.0       0.0  0.0   0.0   0.0
3  0.0      0.0  0.0  0.0   0.0   0.0  ...      0.0   0.0       0.0  0.0   0.0   0.0
4  0.0      0.0  0.0  0.0   0.0   0.0  ...      0.0   0.0       0.0  0.0   0.0   0.0

[5 rows x 2212 columns]

In [233]:
#query
query=df['number_string'].head(1)
query

0    everi onc in a while a movi come that truli ma...
Name: number_string, dtype: object

In [237]:
#cosine
import math
import re
from collections import Counter

WORD = re.compile(r"\w+")


def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator


def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

text1=query
cosine=[]
for i in df['number_string']:
  vector1 = text_to_vector(str(text1))
  vector2 = text_to_vector(i)
  cosine.append(get_cosine(vector1, vector2))

df_cosine = pd.DataFrame(cosine,columns=['Cosine similarity'])
df_cosine['text'] = df['number_string']
df_cosine.head()

   Cosine similarity                                               text
0           0.357295  everi onc in a while a movi come that truli ma...
1           0.282166  thi is a movi that onli those who have felt al...
2           0.227068  truli a masterpiec the best hollywood film of ...
3           0.122637  joaquin phoenix give a tour de forc perform fe...
4           0.183793  most of the time movi are anticip like thi the...

# **Question 3: Create your own training and evaluation data for sentiment analysis**

(15 points). **You dodn't need to write program for this question!** Read each review (abstract or tweet) you collected in detail, and annotate each review with a sentiment (positive, negative, or neutral). Save the annotated dataset into a csv file with three columns (first column: document_id, clean_text, sentiment), upload the csv file to GitHub and submit the file link blew. This datset will be used for assignment four: sentiment analysis and text classification.

In [ ]:
# The GitHub link of your final csv file

# Link: https://github.com/sundarp17/sundar_info5731_fall2020/blob/master/sentimental_analysis.csv