<a href="https://colab.research.google.com/github/sundarp17/sundar_info5731_fall2020/blob/master/Copy_of_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import numpy as np
import random
random_numbers=[]
for x in range(12):
  random_numbers.append(random.randint(2,99))
print("random numbers between 1 and 100",random_numbers)
for i in range(len(random_numbers)):
  j=i+1
  for j in range(len(random_numbers)-1):
    if(random_numbers[i]>random_numbers[j]):
      temp=random_numbers[i]
      random_numbers[i]=random_numbers[j]
      random_numbers[j]=temp
print("random numbers in descending order",random_numbers)
for i in range(len(random_numbers)):
  j=i+1
  for j in range(len(random_numbers)-1):
    if(random_numbers[i]<random_numbers[j]):
      temp=random_numbers[i]
      random_numbers[i]=random_numbers[j]
      random_numbers[j]=temp
print("random numbers in ascending order",random_numbers)
print("Average of the group=",(np.sum(random_numbers)/12))

random numbers between 1 and 100 [37, 66, 20, 54, 16, 92, 81, 38, 81, 29, 5, 88]
random numbers in descending order [92, 88, 81, 81, 66, 54, 38, 37, 29, 20, 16, 5]
random numbers in ascending order [5, 16, 20, 29, 37, 38, 54, 66, 81, 81, 88, 92]
Average of the group= 50.583333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
import nltk
import string
nltk.download('punkt')
#1
sentence1=input("enter the first sentence: ")
sentence2=input("enter the second sentence: ")
#2
list1=nltk.word_tokenize(sentence1)
list2=nltk.word_tokenize(sentence2)
print("list of words in sentence 1 are ",list1)
print("list of words in sentence 2 are",list2)
#3
matching_words=[]
for i in range(len(list1)):
  for j in range(len(list2)):
    if(list1[i]==list2[j]):
      matching_words.append(list1[i])
print("list of words that occur in both sentences are ",matching_words)
#4
s1_np=" ".join([word for word in list1 if word not in string.punctuation])
print("sentence 1 without punctuation is ",s1_np)
s2_np=" ".join([word for word in list2 if word not in string.punctuation])
print("sentence 2 without punctuation is ",s2_np)
#5
vowels='aeiou'
def vowel(sentence,vowels):
  sentence=sentence.lower()
  count={}.fromkeys(vowels,0)
  for character in sentence: 
        if character in count: 
            count[character] += 1    
  return count
print("number of vowels in sentence 1 ",vowel(sentence1,vowels))
print("number of vowels in sentence 2 ",vowel(sentence2,vowels))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
enter the first sentence: Alas! Am I alive? This is my first python program
enter the second sentence: Welcome to python course
list of words in sentence 1 are  ['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
list of words in sentence 2 are ['Welcome', 'to', 'python', 'course']
list of words that occur in both sentences are  ['python']
sentence 1 without punctuation is  Alas Am I alive This is my first python program
sentence 2 without punctuation is  Welcome to python course
number of vowels in sentence 1  {'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}
number of vowels in sentence 2  {'a': 0, 'e': 3, 'i': 0, 'o': 4, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math

print("r V")
for i in range(1,10):
  v=((4/3)*math.pi*pow(i,3))
  print(i,end = " ")
  print(v)

r V
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
#1 question in question 4
import pandas as pd
df=pd.read_csv(r'/content/Assignment1_denton_housing.csv')
#print(df)
df_occupied=(df[df['title_field']=='Occupied Housing Units'])
#print(df_occupied)
df_occupied=df_occupied.drop(columns='title_field')
df_occupied=df_occupied.set_index('year').diff()
print("Difference in the number of Occupied Housing Units from year to year\n", df_occupied)
df_occupied=df_occupied.sort_values(by=['value'])
print("Difference in ascending order\n",df_occupied)

Difference in the number of Occupied Housing Units from year to year
        value
year
2014     NaN
2013 -2622.0
2012 -1565.0
2011 -1404.0
2010   303.0
2009 -5091.0
2008   795.0
Difference in ascending order
        value
year
2009 -5091.0
2013 -2622.0
2012 -1565.0
2011 -1404.0
2010   303.0
2008   795.0
2014     NaN

In [ ]:
import pandas as pd
df=pd.read_csv(r'/content/Assignment1_denton_housing.csv')
#print(df)
print(df.loc[(df['title_field']=='Vacant Housing Units') & (df['year']==2014),'value'])
df_new=pd.DataFrame(columns=['year','Vacant','Occupied'])
Vacant_Percentage=[]
Occupied_Percentage=[]
years=[]
for year in df['year'].unique():
  Vacant_Percentage.append((df.loc[(df['title_field']=='Vacant Housing Units') & (df['year']==year),'value'].values)*100/(df.loc[(df['title_field']=='Total Housing Units') & (df['year']==year),'value'].values))
  Occupied_Percentage.append((df.loc[(df['title_field']=='Occupied Housing Units') & (df['year']==year),'value'].values)*100/(df.loc[(df['title_field']=='Total Housing Units') & (df['year']==year),'value'].values))
  years.append(year)
df_new['Vacant']=Vacant_Percentage
df_new['Occupied']=Occupied_Percentage
df_new['year']=years
print(df_new)

1    2814
Name: value, dtype: int64
   year               Vacant             Occupied
0  2014  [5.730110570363885]  [94.26988942963611]
1  2013  [8.801787504176412]  [91.19821249582358]
2  2012  [6.677600230491345]  [93.32239976950865]
3  2011  [9.379522229890688]  [90.62047777010932]
4  2010  [8.142556337081672]  [91.85744366291833]
5  2009   [9.07111572444872]  [90.92888427555128]
6  2008  [10.88265281351653]  [89.11734718648347]

In [ ]:
#3
import pandas as pd
df=pd.read_csv(r'/content/Assignment1_denton_housing.csv')
df = df.sort_values(by = ['year'])
maxOccupied = df.loc[df['title_field'] == 'Occupied Housing Units','value'].max()
maxVacant = df.loc[df['title_field'] == 'Vacant Housing Units','value'].max()
df_occ = df.loc[(df['title_field'] == 'Occupied Housing Units') & (df['value'] == maxOccupied)]
df_vac = df.loc[(df['title_field'] == 'Vacant Housing Units') & (df['value'] == maxVacant)]
df = pd.concat([df_vac,df_occ])
print(df[['title_field','year','value']])

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [ ]:
#4
from scipy import stats
df = pd.read_csv(r'/content/Assignment1_denton_housing.csv')
total = df.loc[df['title_field'] == 'Total Housing Units','value'].values
print ("harmonic mean of total housing units=  %f"%stats.hmean(total))

harmonic mean of total housing units=  44398.285440