<a href="https://colab.research.google.com/github/sundarp17/sundar_info5731_fall2020/blob/master/In_class_exercise_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
string="sundar"
print("length of the string is ",len(string))

length of the string is  6

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
string="google.com"
count={}.fromkeys(string,0)
for ch in string:
  if ch in count:
    count[ch]+=1
print(count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [3]:
# write your answer here
items=[17,24,12,-4]
print("sum of all the items in the list = ",sum(items))

sum of all the items in the list =  49

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [5]:
# write your answer here
sample_string="restart"
def replacing(string):
  return ("".join((string[0], string[1:].replace(string[0], "$"))))
print("expected result:",replacing(sample_string))

expected result: resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [7]:
# write your answer here
a=input("enter the value of a:")
b=input("enter the value of b:")
print("S =",3.14*(1+(float(a)/float(b)))**3)

enter the value of a:2
enter the value of b:3
S = 14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3): 
  dic4.update(d)
print("expected result",dic4)

expected result {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [15]:
# write your answer here
user_tuple=(17,45,34,87,34)
element=34
if element in user_tuple:
  print("element exists")
else:
  print("element not exists")

element exists

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [17]:
# write your answer here
my_set={1234,342325,54512,23,3543}
print("maximum",max(my_set))
print("minimum",min(my_set))

maximum 342325
minimum 23

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [8]:
# write your answer here
import random as r
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058',
                'spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995',
                'at0739','at0768','mv0299','tv0119','dy0091']
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]

while(len(student_list)!=0):
  list1.append(r.sample(student_list,k=1)[0])
  student_list.remove(list1[-1])
  if(len(student_list)==0):
    break
  list2.append(r.sample(student_list,k=1)[0])
  student_list.remove(list2[-1])
  if(len(student_list)==0):
    break
  list3.append(r.sample(student_list,k=1)[0])
  student_list.remove(list3[-1])
  if(len(student_list)==0):
    break
  list4.append(r.sample(student_list,k=1)[0])
  student_list.remove(list4[-1])
  if(len(student_list)==0):
    break
  list5.append(r.sample(student_list,k=1)[0])
  student_list.remove(list5[-1])
  if(len(student_list)==0):
    break
  
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

['nm0547', 'pc0353', 'rs0850', 'dd0420', 'ds0761']
['msp0174', 'tv0119', 'sg0940', 'rak0120', 'bk0301']
['vl0135', 'mv0299', 'pn0159', 'at0768']
['ss1995', 'rrk0058', 'snd0097', 'at0739']
['dy0091', 'spk0057', 'yye0005', 'vmb0067']