<a href="https://colab.research.google.com/github/sundarp17/sundar_info5731_fall2020/blob/master/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [20]:
# Write your code here
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
words=stopwords.words('english')
f=open('/content/Adam_tanner.txt',"r")
text=f.read()

def avg(text):
  total=[]
  for w in (text.split(" ")):
    total.append(len(w))
  return sum(total)/len(text.split(" "))

def stop(text):
  total=0
  for w in (text.split(" ")):
    if w in words:
      total+=1
  return total

def special(text):
  total=0
  for w in text:
       total += sum(not x.isalnum() for x in w)
  return total

def numerics(text):
  total=0
  for w in text.split():
    total+=sum(x.isdigit() for x in w)
  return total

def upper_ch(text):
  total=0
  for w in text.split(" "):
    total+=sum(x.isupper() for x in w)
  return total

def feature_extraction(text):
  print("Number of sentences :", text.count('.'))
  print("Number of words :",len(text.split(" ")))
  print("Number of characters :",len(text))
  print("Average word length",avg(text))
  print("Number of stopwords:",stop(text))
  print("Number of special characters :", special(text))
  print("Number of numerics :", numerics(text))
  print("Number of uppercase words: ",upper_ch(text))


feature_extraction(text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
Number of sentences : 291
Number of words : 3576
Number of characters : 20452
Average word length 4.719519015659955
Number of stopwords: 1671
Number of special characters : 4549
Number of numerics : 356
Number of uppercase words:  695

In [66]:
#1.2
import pandas as pd
import string
from textblob import Word
from textblob import TextBlob
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import PorterStemmer

st=PorterStemmer()
data=[]
for l in text.split("."):
  nl=l.replace('\n',' ')
  data.append(nl)
df=pd.DataFrame(data,columns=['original_text'])



df['lower_case']=df['original_text'].apply(lambda x:" ".join(x.lower() for x in x.split()))
df['punctuation']=df['lower_case'].apply(lambda  x: " ".join(x for x in x.split() if x not in string.punctuation))
df['stop_words']=df['punctuation'].apply(lambda x:" ".join(x for x in x.split() if x not in words))
freq=pd.Series(" ".join(df['stop_words']).split()).value_counts()[:10]
print(freq)
freq=list(freq.index)
df['frequent']=df['stop_words'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))
rare=pd.Series(" ".join(df['frequent']).split()).value_counts()[-10:]
print(rare)
rare=list(rare.index)
df['rare']=df['frequent'].apply(lambda x:" ".join(x for x in x.split() if x not in rare))
df['spelling']=df['rare'].apply(lambda x: str(TextBlob(x).correct()))
df['token']=df['spelling'].apply(lambda x: TextBlob(x).words)
df['stemming']=df['token'].apply(lambda x: " ".join([st.stem(word) for word in x]))
df['lemmatization']=df['spelling'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

df.head(10)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
execution    39
crop         30
levy         24
v            22
lien         21
right        19
court        18
claimants    16
contract     15
rep          15
dtype: int64
principles     1
ormond,        1
existed        1
injunction,    1
satisfied,     1
grow           1
remove         1
--1            1
growth         1
partner;       1
dtype: int64

                                       original_text  ...                                      lemmatization
0                                              5 Ala  ...                                              5 all
1                       740 Supreme Court of Alabama  ...                                740 supreme alabama
2                                            ADAMS v  ...                                               adam
3                                  TANNER AND HORTON  ...                                      manner norton
4                                    June Term, 1843  ...                                    june term, 1843
5   Synopsis WRIT of Error to the Circuit Court o...  ...                  sycosis writ error circuit sumter
6       West Headnotes (2)   [1] Chattel Mortgage...  ...  west headnotes (2) [1] chattel mortgage crop g...
7   4 Cases that cite this headnote  [2] Creditor...  ...  4 case cite headnote [2] creditors’ remedy pri...
8  1821, prohibiting a levy on a crop until it ha...  ...        1821, prohibiting gathered, attache favor i
9                                                 fa  ...                                                  a

[10 rows x 10 columns]

In [69]:
df.to_csv('pre_processing.csv',index=False)

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [67]:
# Write your code here
import re
ip =  "260.08.094.109"
zero = re.sub('\.[0]*', '.', ip)
zero

'260.8.94.109'

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [68]:
# Write your code here
import re
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

years=re.findall(r'2\d{3}', sentence) 
years

['2010', '2010', '2019']